@import "tailwindcss" source(none);

@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";
@source "../../../app/views/**/*";
@source "../../../app/models/**/*";

@plugin "@tailwindcss/typography";

@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs" {
    themes: light --default, dark --prefersdark;
}
