<div class="mx-auto w-7/8 space-y-4">
  <% if Current.user.empty_intro? %>
    <div class="flex flex-col gap-4 mb-4">
      <div class="flex justify-center">
        <p>
          Напишіть про себе👇
        </p>
      </div>
      <div class="flex justify-center">
        <%= link_to "Додати інтро", new_intro_path, class: "btn btn-outline btn-xl" %>
      </div>
    </div>
  <% end %>
  <%= render partial: "profile", locals: { user: @user } %>
  <%= render partial: "posts/list", locals: { posts: @user.posts } %>
</div>
