<footer class="footer footer-center sm:footer-horizontal text-base-content p-10">
  <div class="flex flex-wrap">
    <a class="link link-hover">Про Клуб</a>
    <span>|</span>
    <a class="link link-hover">Цінності</a>
    <span>|</span>
    <a class="link link-hover">Правила</a>
    <span>|</span>
    <a class="link link-hover">Політика конфіденційності</a>
  </div>

  <label class="flex cursor-pointer gap-2">
    <%= inline_svg_tag "icons/theme-light.svg" %>
    <input type="checkbox" value="dark" class="toggle theme-controller" data-theme-target="toggle" data-controller="theme" data-action="change->theme#toggle"/>
    <%= inline_svg_tag "icons/theme-dark.svg" %>
  </label>

</footer>