<% content_for(:title) { "#{@post.title} | Ріжок Клуб" } %>
<% content_for(:og_image) { @post.og_image } %>
<% content_for(:og_description) { @post.og_description } %>
<div class="mx-auto my-6 p-4 rounded-lg shadow-sm" id="sign-in">
  <h1 class="text-2xl font-bold text-center mb-6">Що тут відбувається?</h1>

  <div class="flex justify-center text-sm mt-4">
    <%= link_to "Приєднатися до клубу", sign_up_path, class: "link" %>
  </div>

</div>
