<div id="<%= dom_id(post) %>_votes" class="flex justify-center items-center space-x-2">
  <span class="text-lg font-bold"><%= post.votes_count %></span>
  <% if Current.user && Current.user.id != post.user.id %>
    <% if Current.user.voted_for?(post) %>
      <%= button_to vote_path(votable_id: post.id, votable_type: post.class.to_s),
                    method: :delete,
                    data: { turbo_method: :delete },
                    class: "btn btn-md" do %>
        <span>▼</span>
      <% end %>
    <% else %>
      <%= button_to votes_path(votable_id: post.id), class: "btn btn-md" do %>
        <span>▲</span>
      <% end %>
    <% end %>
  <% end %>
</div>